@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .no-drag {
    -webkit-user-drag: none; /* Safari / Chrome */
    -webkit-user-drag: none;
    pointer-events: none;
  }

.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Detrás del contenido */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-content {
    position: relative;
    z-index: 1;
  }