.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: white;
  height: 60px;
  border-bottom: 1px solid #333;
  position: relative;
}

/* --- Desktop --- */
.walletContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  min-width: 170px;
}
.wallet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
}
.coinCount {
  font-weight: bold;
}
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.notification {
  position: relative;
  cursor: pointer;
}
.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  font-size: 0.6rem;
  padding: 2px 6px;
  border-radius: 50%;
}
.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 5px;

}
.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Botón hamburguesa por defecto oculto */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  padding-bottom: 50px;
}

/* Contenedor de iconos móviles */
.menuMobile {
  display: none;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

  .menuItem {
  display: none;
  }


/* --- Mobile (<768px) --- */
@media (max-width: 768px) {
  .navbar{
    height: 50px;
  }

  .menuMobile {
    display: flex;
    justify-content: space-around;

  }

  .menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 5px 0;
  color: #ccc;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  }
  .menuItem:hover {
    background: #1f1f1f;
    color: #fff;
  }
  .active {
    background: #1f1f1f;
    color: #fff;
    border-bottom: 1px solid #ffffff;
  }


  /* Mostramos hamburger al final */
  .hamburger {
    display: inline-flex;
  }

  /* Ajuste de padding para que no choque */
  .navbar {
    padding-right: 0.5rem;
  }

  .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  width: 100%;
}


  .avatar img {
  width: 23px;
  height: 23px;
  }
  .avatar span{
    display: none;    
    }


  .walletContainer {
    display: none;
  }

  .wallet {
  display: none;
  }
}